@import 'MenuButton';
@keyframes popUp {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.AlertPortal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-box {
  background-color: #452000;
  padding: 1rem;
  width: 400px;
  height: auto;
  user-select: none;
  animation: 300ms ease-out popUp;
}

.alert-title {
  font-size: 2.2rem;
  color: #cc9a69;
  font-weight: 900;
}

.alert-msg {  
  color: #cc9a69;
  font-size: 1.2rem;
  margin: 20px 5px 0px 10px;
  margin-bottom: 30px;
}
