@import 'MenuButton';
@keyframes popUp {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.AlertPortal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-box {
  background-color: #452000;
  padding: 1rem;
  width: 400px;
  height: auto;
  user-select: none;
  animation: 300ms ease-out popUp;
}

.alert-title {
  font-size: 40px;
  color: #cc9a69;
  font-weight: 900;
}

.alert-msg {
  color: #cc9a69;
  font-size: 28px;
  margin: 10px;
  margin-bottom: 30px;
}


// .alert-btn {
//   border-radius: 5px;
//   border: 1px solid black;
//   padding: 2px;
//   background: #cc9a69;
//   font-size: 28px;
//   text-align: center;
//   font-weight: 900;
//   color: #452000;
// }
//
// .alert-btn:hover {
//   background-color: #5b2d09;
//   color: white;
//   cursor: pointer;
//   transition: 400ms ease all;
// }
