@import "constants.scss";
.app {
  border: 5px solid #452000;
  width: $appWidth;
  height: $appHeight;
  margin: auto;
  margin-top: 10px;
  // position: relative;
  background-color: #f7d7b8;
}
.game {
  display: flex;
  height: 100%;
}