.chat {
    width: 600px;
    height: 160px;
    display: flex;
    flex-direction: column;
    
    .text-area {
      flex: 1;
      
      background-color: #DEB887;
      border-top: 5px solid #452000;
      border-bottom: 2px solid #452000;
      overflow:auto;

      ul {
        margin: 0;
        padding: 0px;
        padding-left: 2px;
        font-size: 1rem;
        list-style: none;
        span {
          font-weight: 600;
        }
      }
    }
    .chat-form {
      display:flex;
      background: gray;
      
      input {
        font-size: 1rem;  
        flex: 1;
      }
      .submit {
        font-size: 1.1rem;
        background-color: #452000;
        color:#cc9a69;
        font-weight: 600;
        padding-left: 15px;
        padding-right: 15px;
        cursor:pointer;
        user-select: none;
      }
      .submit:hover {
        background-color: #723908;
      }
      .submit:active {
        background-color: #cc9a69;
        color: #452000;
      }

      .test-submit {
        font-size: 1.1rem;
        background-color: #452000;
        color:#cc9a69;
        font-weight: 600;
        padding-left: 15px;
        padding-right: 15px;
        cursor:pointer;
        user-select: none;
      }
      
    }
  }
  