$appWidth: 800px;
$appHeight: 600px;

$worldWidth: 600px;
$worldHeight: 440px;

$chatWidth: 600px;
$chatHeight: 160px;

$gameInfoWidth: 200px;
$gameInfoHeight: 600px;

$objectWidth: 40px;
$objectHeight: 60px;