@import "constants.scss";

.game {
    display: flex;
    height: 100%;
  }
  
  .world {
    position: relative;
    width: $worldWidth;
    height: $worldHeight;
    background-color: #c77a35;


    .avatar .name-plate {
      position: relative;
      top: 100%;
      display: flex;
      justify-content: center;

      div {
        background: #d1ab89;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 5px;
        font-size: 0.8rem;
      }
    }

    .avatar .chat-bubble {
      padding: 3px;
      max-width: 120px;
      word-wrap: break-word;
      position: absolute;
      background-color: #eee;
      bottom: 77px;
      left: -15%;
      font-size: 0.8rem;
      
      span {
        font-weight: 600;
      }
    }
    .avatar .chat-bubble:after {
      position: absolute;
      display: block;
      content: "";  
      border-color: #eee transparent transparent transparent;
      border-style: solid;
      border-width: 10px;
      height: 0;
      width: 0;
      position: absolute;
      bottom: -19px;
      left: 16px;
    }
  }

  .chat {
    width: 600px;
    height: 160px;
    display: flex;
    flex-direction: column;
    
    .text-area {
      flex: 1;
      
      background-color: #DEB887;
      border-top: 5px solid #452000;
      border-bottom: 2px solid #452000;
      overflow:auto;

      ul {
        margin: 0;
        padding: 0px;
        padding-left: 2px;
        font-size: 1rem;
        list-style: none;
        span {
          font-weight: 600;
        }
      }
    }
    .chat-form {
      display:flex;
      background: gray;
      
      input {
        font-size: 1rem;  
        flex: 1;
      }
      .submit {
        font-size: 1.1rem;
        background-color: #452000;
        color:#cc9a69;
        font-weight: 600;
        padding-left: 15px;
        padding-right: 15px;
        cursor:pointer;
        user-select: none;
      }
      .submit:hover {
        background-color: #723908;
      }
      .submit:active {
        background-color: #cc9a69;
        color: #452000;
      }

      .test-submit {
        font-size: 1.1rem;
        background-color: #452000;
        color:#cc9a69;
        font-weight: 600;
        padding-left: 15px;
        padding-right: 15px;
        cursor:pointer;
        user-select: none;
      }
      
    }
  }
  
  .game-info {
    width: $gameInfoWidth;
    height: $gameInfoHeight;
    background-color: #bd592a;
    display: flex;
    flex-direction: column;
    border-left: 5px solid #452000;
    z-index:2;

    .inventory {
      height: 70%;
    }
  
    .user-info {
      height: 15%;
    }
  
    .btn-container {
      display: flex;
      padding: 5px;
      height: 15%;
      flex-direction: column;
      justify-content: flex-end;
  
      .menu-btn {
        border-radius: 0px;
        font-size: 1.5rem;
        height: 40px;
      }
  
      .menu-btn:hover {
        background-color: #5e1f02;
      }
    }
  }
  