@import 'MenuButton';

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu {
    background-color: #452000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 5px 10px rgba(0,0,0,0.23);
    transition: 800ms ease all;

    .menu-btn {
      height: 100px;
      width: 90%;
    }
  }
}
